:root {
    --text-color:#000;
    --link-color:#0000ff;
    /*
    --text-color:#172717;
    --link-color:#22f;
    */
    --bg-color:#fff;
}

body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight:500;
    font-size: 16px;
    padding-left:0;
    margin:0;
    padding:0;
    color: var(--text-color);
    background-color: var(--bg-color);
}

a{
    color: var(--link-color);
}

a:hover{
    text-decoration: underline;
}

input{
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight:700;
}

h2{
    margin-top: 0;
    margin-bottom: 10px;
    padding:0;
    font-size: 20px;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

thead{
    border-bottom: 1px solid #000;
}

th{
    padding: 14px;
    padding-left:0;
    text-align: left;
}

td{
    padding: 4px 16px 4px 16px;
    padding-left:0;
    border-bottom: 1px solid #000;
}

.btn{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 18px;;
    margin:0;
    padding: 4px 32px 4px 32px;
    text-decoration: none;
    border :none;

    background-color: #ccc;
    color: black;

}

.btn:hover{
    background-color: black;
    text-decoration: none;
    color: white;
}

.btn-danger{
    border: 1px solid #dc3545;
    background-color: transparent;
    color: #dc3545;
}

.btn-danger:hover{
    border: none;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
}

.link-back{
    display:block;
    padding-bottom: 24px;
}


label{
    display: block;
    margin-bottom: 0.25rem; 
}

input{
    margin-bottom: 1rem;
}

input[type=text], input[type=password]{
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    border: 1px solid black;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.error{
    color: #dc3545;
}